:root {
  /*primary colors*/
  --violet: #5a64e0;
  --light-violet: #939bf4;
  --very-dark-blue: #19202d;
  --midnight: #121721;
  /*secondary colors*/
  --white: #ffffff;
  --light-grey: #f4f6f8;
  --gray: #9daec2;
  --dark-grey: #6e8098;
}

body {
  background-color: var(--light-grey);
  font-family: "Kumbh Sans", sans-serif;
}

.secondary-font-color {
  color: var(--gray);
}

h6 {
  font-weight: 300;
  color: var(--gray);
}

.input-bar input {
  border: none;
  border-right: 2px solid var(--light-grey); /* Add a right border */
}

.input-bar input::placeholder {
  color: var(--gray);
}

/*overriding bootstrap CSS for this one*/
.input-group-text {
  border: none;
  background-color: var(--white);
}
.form-check-label {
  background-color: var(--white);
  padding: 5px;
}

.form-check-input input {
  background-color: var(--gray);
}

.form-check-input:checked {
  background-color: var(--violet); /* Background color when checked */
  border: 2px solid var(--violet); /* Border color when checked */
}

.form-check-input {
  appearance: none; /* Remove default styles */
  background-color: var(--gray);
  border-radius: 4px; /* Rounded corners if desired */
  border: 2px solid var(--gray); /* Border color for checkbox */
  cursor: pointer; /* Show pointer cursor on hover */
  position: relative; /* Needed for positioning the checkmark */
  margin: 0; /* Remove default margin */
}

.form-check-label {
  color: var(--very-dark-blue);
  padding: 8px;
  margin-right: 10px;
  border-radius: 5px;
}

/* Container to ensure white background around the checkbox */
.checkbox-container {
  background-color: var(--white);
  padding: 5px;
  border-radius: 5px; /* Optional: Add rounded corners if desired */
  display: inline-flex;
  align-items: center;
}

.country-card-style {
  font-weight: 400;
  color: var(--violet);
}
.card {
  border: none;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(36, 87%, 49%);
  width: 50px;
  height: 50px;
  border-radius: 12px;
  /*positioning it to be slightly above the card*/
  position: relative;
  bottom: 25px;
  left: 16px;
}
.company-card-logo {
  object-fit: contain; /* Maintains aspect ratio while fitting within the container */
}

.main-button-style {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  color: var(--white);
  background-color: var(--violet);
  border: none;
}

.main-button-style:hover,
.secondary-button-style:hover {
  background-color: var(--light-violet);
}

.secondary-button-style {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  color: var(--violet);
  background-color: var(--light-grey);
  border: none;
}

.expanded-job-description {
  position: relative;
  bottom: 80px;
}

.what-you-will-do-list {
  color: var(--dark-violet);
  font-size: bigger;
}

.what-you-will-do-list li::marker {
  color: var(--violet); /* Set the color of the numbers to purple */
  font-size: 1.3rem; /* Increase the font size of the numbers */
  padding-right: 10px;
}
/*
.expanded-job-description {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes the full height of the viewport *

.expanded-job-description .main {
  flex: 1; /* Allow the main content to take up the remaining space */
.footer-expandedJobDescription {
  background-color: white;
  margin-left: 0px;
  margin-top: auto; /* Push the footer to the bottom */
  width: 100%;
}
