:root {
  /*primary colors*/
  --violet: #5a64e0;
  --light-violet: #939bf4;
  --light-violet-low-opacity: rgba(147, 155, 244, 0.2);
  --very-dark-blue: #19202d;
  --midnight: #121721;
  /*secondary colors*/
  --white: #ffffff;
  --light-grey: #f4f6f8;
  --gray: #9daec2;
  --dark-grey: #6e8098;
}

body {
  background-color: var(--light-grey);
  font-family: "Kumbh Sans", sans-serif;
}
.top-nav-bar {
  background-image: url("../src/assets/desktop/bg-pattern-header.svg");
  background-size: auto; /* Keeps the background image at its natural size */
  height: 161px;
  position: relative;
  background-repeat: no-repeat;
}

.top-nav-bar h3 {
  position: absolute; /* Position relative to the .top-nav-bar */
  top: 30px; /* Adjust as needed */
  left: 50px; /* Adjust as needed */
  color: white; /* Ensure the text is readable */
}
.top-nav-bar h3:hover {
  color: var(--light-violet);
  cursor: pointer;
}

.secondary-font-color {
  color: var(--gray);
}

h6 {
  font-weight: 300;
  color: var(--gray);
}

.input-bar input {
  border: none;
}

.input-bar input::placeholder {
  color: var(--gray);
}

/*overriding bootstrap CSS for this one*/
.input-group-text {
  border: none;
  background-color: var(--white);
}
.form-check-label {
  background-color: var(--white);
  padding: 5px;
}

.form-check-input input {
  background-color: var(--gray);
}

.form-check-input:checked {
  background-color: var(--violet); /* Background color when checked */
  border: 2px solid var(--violet); /* Border color when checked */
}

.form-check-input {
  appearance: none; /* Remove default styles */
  background-color: var(--gray);
  border: 2px solid var(--gray);
  box-shadow: none;
  position: relative;
  margin: 0; /* Remove default margin */
}

.form-check-label {
  color: var(--very-dark-blue);
  padding: 8px;
  margin-right: 10px;
  border-radius: 5px;
}

/* Container to ensure white background around the checkbox */
.checkbox-container {
  background-color: var(--white);
  padding: 5px;
  border-radius: 5px; /* Optional: Add rounded corners if desired */
  display: inline-flex;
  align-items: center;
}

.country-card-style {
  font-weight: 400;
  color: var(--violet);
}

.card {
  border: none;
}

.small-card-homepage:hover {
  cursor: pointer;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  border-radius: 12px;
  /*positioning it to be slightly above the card*/
  position: relative;
  bottom: 25px;
  left: 16px;
}
.company-card-logo {
  object-fit: contain; /* Maintains aspect ratio while fitting within the container */
}

.main-button-style,
.secondary-button-style {
  font-weight: 500;
}
.main-button-style {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  color: var(--white);
  background-color: var(--violet);
  border: none;
  transition: background-color 0.3s ease;
}

.main-button-style:hover,
.secondary-button-style:hover {
  background-color: var(--light-violet);
}

.secondary-button-style {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  color: var(--violet);
  background-color: var(--light-violet-low-opacity);
  border: none;
  transition: background-color 0.3s ease;
}
.load-more-button {
  display: flex;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.expanded-job-description {
  position: relative;
  bottom: 80px;
}

.what-you-will-do-list {
  color: var(--dark-violet);
  font-size: bigger;
}

.what-you-will-do-list li::marker {
  color: var(--violet); /* Set the color of the numbers to purple */
  font-size: 1.3rem; /* Increase the font size of the numbers */
  padding-right: 10px;
}

.job-description-section p,
.job-description-section li,
.footer-expandedJobDescription p {
  color: var(--dark-grey);
  font-weight: 300;
}

.top-section img {
  height: 140px;
}
.footer-expandedJobDescription {
  background-color: white;
  margin-left: 0px;
  margin-top: auto; /* Push the footer to the bottom */
  width: 100%;
}

.home-button {
  border: none;
  default: none;
}
/* Mobile devices (up to 599px) */

/* Tablet devices (600px to 1023px) */
@media (max-width: 1023px) and (min-width: 600px) {
  .top-nav-bar {
    background-image: url("../src/assets/tablet/bg-pattern-header.svg");
    background-size: auto; /* Keeps the background image at its natural size */
    height: 160px;
  }
}
@media (max-width: 599px) {
  .full-width-mobile {
    width: 100%;
  }
  .footer-expandedJobDescription .card-title,
  .footer-expandedJobDescription .card-text {
    display: none;
  }
  .footer-expandedJobDescription button {
    width: 100%;
  }
  .top-nav-bar {
    background-image: url("../src/assets/mobile/bg-pattern-header.svg");

    background-size: auto; /* Keeps the background image at its natural size */
    height: 131px;
    position: relative;
    background-repeat: no-repeat;
  }
  .card.top-section {
    height: 205px;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .top-section .col-md-3 img {
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    position: relative;
    top: -40px;
    /*positioning it to be slightly above the card*/
  }
  .top-section .card-title,
  .top-section .card-text,
  .top-section button {
    position: relative;
    bottom: 40px;
  }
  .expanded-job-description {
    position: relative;
    bottom: 40px;
  }
}
